.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}

.logo img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    height: 60px;
    width: auto;
}

.flaming-logo {
    animation: spin 1.5s ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav ul li {
    font-size: 18px;
    font-weight: bold;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
}

.nav ul li a:hover {
    color: crimson;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    background-color: black;
    height: 4px;
    width: 30px;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}


@media (max-width: 768px) {
    .header {
        padding: 10px 20px; 
    }

    .logo img {
        height: 45px; 
    }

    .menu-icon {
        display: flex;
    }

    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #f3f3f3;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .nav.active {
        display: flex;
    }

    .nav ul {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 20px 0;
    }
}
